/* Font Directory */
@font-face {
    font-family: sf-semibold;
    src: url('../assets/fonts/SF-UI-Display-Semibold.otf');
}

@font-face {
    font-family: sf-medium;
    src: url('../assets/fonts/SF-UI-Display-Medium.otf');
}

@font-face {
    font-family: cotton-butter;
    src: url('../assets/fonts/Cotton\ Butter.ttf');
}

/* Color Directory*/
:root{
    --dark-navy:rgb(4, 2, 31);
    --navy:rgb(7, 0, 70);
    --lemon:rgb(165, 197, 21);
    --dark-grey:rgb(109, 109, 109);
    --grey:rgb(236, 236, 236);
    --white:rgb(255, 255, 255);
}

/* Typography Directory*/
h1{
    font-family: sf-semibold;
    font-size: 3.2rem;
    line-height: 100%;
}
h2{
    font-family: sf-semibold;
    font-size: 2.3rem;
    line-height: 100%;
}
h3{
    font-family: sf-semibold;
    font-size: 1.5rem;
    line-height: 100%;
}
h4{
    font-family: sf-semibold;
    font-size: 1.2rem ;
    line-height: 100%;
}
p{
    font-family: sf-semibold;
    font-size: 1rem ;
    line-height: 150%;
    text-align: justify;
}
a{
    font-family: sf-semibold;
    font-size: 1rem;
    line-height: 100%;
}
i{
    font-family: sf-semibold;
    font-size:1.5rem;
    line-height: 100%;
}
.circle{
    border-radius:50%;
}

.padding{
    padding: 2rem;
}

.button{
    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;
}

.outline-btn{
    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;
}


.border{
    border-radius: 0.5rem;
}
html,body{
    scroll-behavior: smooth;
    font-size: 13px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Navbar Section Here */
nav{
    position: fixed;
    top: 0;
    background-color: var(--grey);
    z-index: 1000;
    transition: .5s ease-in
}

nav .container{
    position: relative;
    height: 4rem;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in;
}

.brand img{
    position: relative;
    height: 3.5rem;
}

.brand img:hover{
    animation: brand 1s ease-in-out;
}

@keyframes brand {
    0% {
        transform: rotate(0);

    }
    25% {
        transform: rotate(5deg) scale(1.1);        
    }
    50% {
        transform: rotate(-5deg) scale(1.1);            
    }
    75% {
        transform: rotate(5deg) scale(1.2);    
    }
    100% {
        transform: rotate(-5deg) scale(1);             
    }   
}

.nav_items{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transform: translateX(100%);
    transition: 1s ease-in-out;
    z-index: 1001;
}

.nav_items img{
    width: 8rem;
    z-index: 1001;
}

.nav_items img:hover{
    animation: brand 1s ease-in-out;
}

.nav_items .item{
    position: relative;
    color: var(--dark-grey);
    transition: 0.5s ease-in;
}

.nav_items .item:hover{
    color: var(--lemon);
}

.nav_items .button{
    position: relative;
    color: var(--dark-navy);
    background-color: var(--lemon);
}

.nav_items_slide{
    transform: translateX(0);
}

/* Navbar Sticky Here */
nav.nav_sticky{
    background-color: var(--dark-navy);
}

nav.nav_sticky .hamburger_menu span{
    background-color: var(--white);
}

nav.nav_sticky .hamburger_menu_action span{
    background-color: var(--lemon);
}

/* Hamburger Menu */

.hamburger_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 1002;
}

.hamburger_menu span{
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--dark-navy);
    transition: .5s ease-in all;
}

.hamburger_menu span:not(:last-child){
    margin-bottom: 6px;
}

.hamburger_menu_action span:nth-child(2){
    width: 0;
}

.hamburger_menu_action span:not(:nth-child(2)){
    transform: rotate(45deg);
    transition-delay: .2s;
}

.hamburger_menu_action span:nth-child(1){
    transform: translateY(8px);
}

.hamburger_menu_action span:last-child{
    transform: translateY(-8px) rotate(90deg);
}

.hamburger_menu_action{
    transform: rotate(45deg);
    transition: .5s;
    transition-delay: 1s;
}

.hamburger_menu_action span{
    background-color: var(--lemon);
}

/* Hero Section Here */

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(204, 204, 204), rgb(255, 255, 255), rgb(255, 255, 255)) ;
    overflow: hidden;

}

#hero .container{
    position: relative;
    display: grid;
    grid-template-areas: 'content content' 'images images';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto;
    row-gap: .5rem;
    padding: 6rem 2rem 0 2rem;
}

.hero-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-content h3,.hero-content h1{
    color: var(--dark-navy);
}

.hero-content p{
    color: var(--dark-grey);
}

.hero-contact{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-contact .button{
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--dark-navy);
    color: var(--lemon);
}

.hero-contact .button p{
    color: var(--white);
}

.hero-contact .circle{
    padding: 0.8rem;
    color: var(--dark-navy);
    background-color: var(--grey);
}

.hero-cv{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--dark-grey);
}

.hero-images{
    display: flex;
    justify-content: center;
    position: relative;
    grid-area: images;
    width: 100%;
}

.hero-images .img1{
    position: absolute;
    max-height: 50vh;
    bottom: 0;
    filter: drop-shadow(1rem 0rem .5rem rgba(0,0,0,50%) );
    z-index: 100;
}

.hero-images .img2{
    position: absolute;
    max-height: 40vh;
    bottom: 10%;
    z-index: 99;
}




/* Responsive Breakpoints */
@media screen and (max-width:360px) {
    html{
        font-size: 12px;
    }
    
}

@media screen and (min-width:420px) {
    html{
        font-size: 16px;
    }
    
}


@media screen and (min-width:600px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 2rem ;
    }
    p{
        font-size: 1rem ;
    }
    a{
        font-size: 1rem;
    }
    i{
        font-size:1.5rem;
    }

    html{
        font-size: 16px;
    }

    .nav_items{
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        gap: 4rem;
        text-transform: inherit;
        letter-spacing: normal;
        background-color: transparent;
        transform: none;
    }
    .nav_items img{
        display: none;
    }
    
    .hamburger_menu{
        display: none;
    }
 }
 
 @media screen and (min-width:900px) {
    html{
        font-size: 15px;
    }
    /* Navbar Section Here  */
    nav.nav_sticky .container{
        height: 4.5rem;
    }
 }

@media screen and (min-width:1366px) {
   .wrapper .container{
    width: 1366px;
   }    
}







